@import "./variables/common";

$prefix-cls: $nav-bar-prefix-cls;

.#{$prefix-cls}-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    .#{$prefix-cls} {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        width: $width-default;
        height: $height-nav-bar;
        line-height: $height-nav-bar;
        position: relative;
        margin: 0 auto;
        box-sizing: border-box;
        background: $color-theme;
        color: $color-light;
        text-align: center;
        overflow: hidden;
        & .#{$prefix-cls}-title {
            font-size: $font-size-medium;
            text-align: center;
            @include overflow-dot;
        }
        & .#{$prefix-cls}-icon-box {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            width: $height-nav-bar;
            height: $height-nav-bar;
        }
    }
}
