@import "./variables/common";

$prefix-cls: $progress-bar-prefix-cls;

.#{$prefix-cls}-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    & .#{$prefix-cls}-box {
        width: $width-default;
        margin: 0 auto;
        & .#{$prefix-cls} {
            width: 0;
            height: 2px;
            background-color: $color-theme;
            box-shadow: 0 0 5px rgba($color-theme, .7);
        }
    }
}
