// 距离

$distance-xxx-small: 2px;
$distance-xx-small: 4px;
$distance-x-small: 6px;
$distance-small: 8px;
$distance-medium: 10px;
$distance-large: 12px;
$distance-x-large: 14px;
$distance-xx-large: 16px;
$distance-xxx-large: 18px;