// 字号

$font-size-xxx-small: 12px;
$font-size-xx-small: 13px;
$font-size-x-small: 14px;
$font-size-small: 15px;
$font-size-medium: 16px;
$font-size-large: 17px;
$font-size-x-large: 18px;
$font-size-xx-large: 19px;
$font-size-xxx-large: 20px;