// ??

$color-theme: #f00;
$color-default: #000;

$color-light: #fff;
$color-dark: #000;

$color-title: #303030;
$color-text: #424242;

$color-btn-default: #fff;
$color-btn-primary: #0474eb;
$color-btn-info: #009edd;
$color-btn-success: #019641;
$color-btn-warning: #f09c00;
$color-btn-error: #dd1d1d;
$color-btn-text: transparent;

$color-tab-bar: #fff;

$color-border: #d6d6d6;