// 颜色

$color-theme: #f00;
$color-default: #000;

$color-light: #fff;
$color-dark: #000;

$color-title: #303030;
$color-text: #424242;

$color-btn-default: #fff;
$color-btn-primary: #0474eb;

$color-border: #d6d6d6;