// 字号

$font-size-root: 10px;

$font-size-xxx-small: 1.2em;
$font-size-xx-small: 1.3em;
$font-size-x-small: 1.4em;
$font-size-small: 1.5em;
$font-size-medium: 1.6em;
$font-size-large: 1.7em;
$font-size-x-large: 1.8em;
$font-size-xx-large: 1.9em;
$font-size-xxx-large: 2em;