// 名称

$lib-short-name: 'mf';
$class-name-map: (
  navBar: 'navbar',
  loading: 'loading',
  progressBar: 'progressbar',
  icon: 'icon',
  button: 'button',
  tabBar: 'tabbar'
);

$nav-bar-prefix-cls: $lib-short-name + '-' + map-get($class-name-map, 'navBar');
$loading-prefix-cls: $lib-short-name + '-' + map-get($class-name-map, 'loading');
$progress-bar-prefix-cls: $lib-short-name + '-' + map-get($class-name-map, 'progressBar');
$icon-prefix-cls: $lib-short-name + '-' + map-get($class-name-map, 'icon');
$button-prefix-cls: $lib-short-name + '-' + map-get($class-name-map, 'button');
$tab-bar-prefix-cls: $lib-short-name + '-' + map-get($class-name-map, 'tabBar');