// 名称

$libShortName: 'mf';
$classNameMap: (
  navBar: 'navbar',
  loading: 'loading',
  progressBar: 'progressbar',
  icon: 'icon',
  button: 'button'
);

$navBarPrefixCls: $libShortName + '-' + map-get($classNameMap, 'navBar');
$loadingPrefixCls: $libShortName + '-' + map-get($classNameMap, 'loading');
$progressBarPrefixCls: $libShortName + '-' + map-get($classNameMap, 'progressBar');
$iconPrefixCls: $libShortName + '-' + map-get($classNameMap, 'icon');
$buttonPrefixCls: $libShortName + '-' + map-get($classNameMap, 'button');