@import "../../styles/variables/common";

$prefixCls: $iconPrefixCls;

.#{$prefixCls} {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: 1000;
}